<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>1</servlet-name>
    <servlet-class>com.servlet.JsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>1</servlet-name>
    <url-pattern>/JsonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>2</servlet-name>
    <servlet-class>com.servlet.picServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>2</servlet-name>
    <url-pattern>/picServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>3</servlet-name>
    <servlet-class>com.caipin.servlet.caipinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>3</servlet-name>
    <url-pattern>/caipinServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>4</servlet-name>
    <servlet-class>com.caipin.servlet.lgcaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>4</servlet-name>
    <url-pattern>/lgcaiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>5</servlet-name>
    <servlet-class>com.caipin.servlet.tdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>5</servlet-name>
    <url-pattern>/tdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>6</servlet-name>
    <servlet-class>com.caipin.servlet.ypServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>6</servlet-name>
    <url-pattern>/ypServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>7</servlet-name>
    <servlet-class>com.caipin.servlet.introServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>7</servlet-name>
    <url-pattern>/introServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>8</servlet-name>
    <servlet-class>com.caipin.servlet.getcpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>8</servlet-name>
    <url-pattern>/getcpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>9</servlet-name>
    <servlet-class>com.caipin.servlet.orderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>9</servlet-name>
    <url-pattern>/orderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>10</servlet-name>
    <servlet-class>com.caipin.servlet.allorderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>10</servlet-name>
    <url-pattern>/allorderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>11</servlet-name>
    <servlet-class>com.caipin.servlet.gethaidai</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>11</servlet-name>
    <url-pattern>/gethaidai</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>12</servlet-name>
    <servlet-class>com.caipin.servlet.touxiangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>12</servlet-name>
    <url-pattern>/touxiangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>13</servlet-name>
    <servlet-class>com.caipin.servlet.gettouxiangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>13</servlet-name>
    <url-pattern>/gettouxiangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>14</servlet-name>
    <servlet-class>com.caipin.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>14</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>15</servlet-name>
    <servlet-class>com.caipin.servlet.updateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>15</servlet-name>
    <url-pattern>/updateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>16</servlet-name>
    <servlet-class>com.caipin.servlet.insertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>16</servlet-name>
    <url-pattern>/insertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>17</servlet-name>
    <servlet-class>com.caipin.servlet.uploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>17</servlet-name>
    <url-pattern>/uploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>18</servlet-name>
    <servlet-class>com.caipin.servlet.getbookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>18</servlet-name>
    <url-pattern>/getbookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>19</servlet-name>
    <servlet-class>com.caipin.servlet.insertCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>19</servlet-name>
    <url-pattern>/insertCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>20</servlet-name>
    <servlet-class>com.caipin.servlet.getCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>20</servlet-name>
    <url-pattern>/getCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>21</servlet-name>
    <servlet-class>com.caipin.servlet.deleteCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>21</servlet-name>
    <url-pattern>/deleteCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>22</servlet-name>
    <servlet-class>com.caipin.servlet.selectLocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>22</servlet-name>
    <url-pattern>/selectLocationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>23</servlet-name>
    <servlet-class>com.caipin.servlet.insertLocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>23</servlet-name>
    <url-pattern>/insertLocationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>24</servlet-name>
    <servlet-class>com.caipin.servlet.deleteLocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>24</servlet-name>
    <url-pattern>/deleteLocationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>25</servlet-name>
    <servlet-class>com.caipin.servlet.ordersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>25</servlet-name>
    <url-pattern>/ordersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>26</servlet-name>
    <servlet-class>com.caipin.servlet.orderdetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>26</servlet-name>
    <url-pattern>/orderdetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>27</servlet-name>
    <servlet-class>com.caipin.servlet.getCartServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>27</servlet-name>
    <url-pattern>/getCartServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>28</servlet-name>
    <servlet-class>com.caipin.servlet.getMyOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>28</servlet-name>
    <url-pattern>/getMyOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>29</servlet-name>
    <servlet-class>com.caipin.servlet.getMyOrderServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>29</servlet-name>
    <url-pattern>/getMyOrderServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>30</servlet-name>
    <servlet-class>com.caipin.servlet.deleteOrderDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>30</servlet-name>
    <url-pattern>/deleteOrderDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>31</servlet-name>
    <servlet-class>com.caipin.servlet.deleteOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>31</servlet-name>
    <url-pattern>/deleteOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>32</servlet-name>
    <servlet-class>com.caipin.servlet.updateBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>32</servlet-name>
    <url-pattern>/updateBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>33</servlet-name>
    <servlet-class>com.caipin.servlet.getMyUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>33</servlet-name>
    <url-pattern>/getMyUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>34</servlet-name>
    <servlet-class>com.caipin.servlet.insertsaleinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>34</servlet-name>
    <url-pattern>/insertsaleinfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>35</servlet-name>
    <servlet-class>com.caipin.servlet.getMySaleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>35</servlet-name>
    <url-pattern>/getMySaleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>36</servlet-name>
    <servlet-class>com.caipin.servlet.getMySaleServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>36</servlet-name>
    <url-pattern>/getMySaleServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>37</servlet-name>
    <servlet-class>com.caipin.servlet.deleteMyUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>37</servlet-name>
    <url-pattern>/deleteMyUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>38</servlet-name>
    <servlet-class>com.caipin.servlet.deleteSaleInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>38</servlet-name>
    <url-pattern>/deleteSaleInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>39</servlet-name>
    <servlet-class>com.caipin.servlet.deleteSaleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>39</servlet-name>
    <url-pattern>/deleteSaleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>40</servlet-name>
    <servlet-class>com.caipin.servlet.queryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>40</servlet-name>
    <url-pattern>/queryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>41</servlet-name>
    <servlet-class>com.caipin.servlet.querystateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>41</servlet-name>
    <url-pattern>/querystateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>42</servlet-name>
    <servlet-class>com.caipin.servlet.searchbookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>42</servlet-name>
    <url-pattern>/searchbookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>43</servlet-name>
    <servlet-class>com.caipin.servlet.setServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>43</servlet-name>
    <url-pattern>/setServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>44</servlet-name>
    <servlet-class>com.caipin.servlet.updatepwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>44</servlet-name>
    <url-pattern>/updatepwdServlet</url-pattern>
  </servlet-mapping>
</web-app>